.skills, .languages, .education {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills li, .languages li, .education li, .expirence li, .languages li {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.projects li a {
    display: flex;
    gap: 1.3rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.projects li a:hover {
    text-decoration: underline;
}

.skills-all {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 4rem;
}

.skills-all ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
}
